.auth-callback {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--nd-color-primary);
  color: $white;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  }

  .nd-loader {
    flex-direction: column;

    .spinner {
      flex: 1;
    }

    &__label {
      @include rem(16);
      padding: 10px 0;
      /* stylelint-disable-next-line sh-waqar/declaration-use-variable */
      color: inherit;
    }
  }
}
