:root {
  --nd-color-primary: #ba1348;
  --nd-color-primary-l1: #efdce2;
  --nd-color-type: #3c3c3c;
  --nd-color-type-light: #969696;
  --nd-color-link: #0a588a;
  --nd-color-bg-accent-2: #d9d9d9;
  --nd-color-bg-accent: #eee;
  --nd-color-bg-primary: #fff;
  --nd-color-white: #fff;
}
