@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,900');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

@font-face {
  font-family: 'Digital';
  src: url('../../fonts/digital-7-mono.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Digital Numbers';
  src: url('../../fonts/DigitalNumbers-Regular.woff') format('woff'); /* Safari, Android, iOS */
}
