html {
  font-size: $nd-font-size;
  font-family: $font-primary;
  font-weight: 100;
}

.uppercase {
  text-transform: uppercase;
}

.healthy {
  font-weight: 700;
  color: var(--nd-color-healthy);
}

.degraded {
  font-weight: 700;
  color: var(--nd-color-degraded);
}

.critical {
  font-weight: 700;
  color: var(--nd-color-critical);
}
